* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/background-image.jpg);
}

header {
    opacity: 85%;
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px;
    text-align: start;
    font-size: 24px;
}

.nav {
    width: 100%;

  }

.nav a {
    padding: 250px;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    justify-content: space-between;
}

/*.nav a:hover {
    color: #fdfd00;
  }
*/
footer {
    opacity: 85%;
    padding: 10px;
    clear: both;
    text-align: center;
    background: cornflowerblue;
    color: #ffffff;
}
footer h4{
    text-align: start;
    font-size: 40px;
}

.container {
    padding: 50px;
    height: 400px;
    outline: auto;
    width: 65%;
    border-radius: 25px;
    margin: 20px;
    display: flex;
    float: right;
}

.container img {
    float: right;
    padding: 50px;
    width: 300px;
}
.container .currency-converter{
    color: cornflowerblue;
}

.weather-container {
    margin: 20px;
    padding: 50px;
    height: 400px;
    outline: auto;
    width: 90%;
    border-radius: 25px;
    display: flex;
}

.weather-container .weather-dashboard{
    color: cornflowerblue;
}