body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../images/travel-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: lightseagreen;
    max-width: 98%;
    padding: 5px;
    font-size: 27px;
    border-radius: 15px;
    outline: auto black;
    color: antiquewhite;
    margin-top: 5px;
    margin-left: 10px;
}

.nav {
    font-size: 15px;
    max-width: 100%;
    display: flex;
    margin-left: 50%;
    position: absolute;
    margin-top: 2.75%;
}

.header .nav {
    display: flex;
    display: inline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 15px;
    line-height: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button{
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 5px;
    outline: auto;
    cursor: pointer;
}

footer {
    background-color: lightseagreen;
    color: antiquewhite;
    max-width: 100%;
    text-align: center;
    padding: 1px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 15px;
    outline: auto black;
    line-height: 5px;
}

footer .contact-us img{
    width: 50px;
    position: absolute;
    margin-left: 650px;
    margin-top: -75px;
}

a {
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 5px;
    outline: auto;
}

.start-container {
    display: flex;
}

.about {
    font-size: 20px;
    text-align: center;
    width: 60%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    background: antiquewhite;
    outline: auto;
    opacity: 85%;
}

.description {
    height: 30vh;
    font-size: 20px;
    text-align: center;
    width: 40%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    background: antiquewhite;
    outline: auto;
    opacity: 85%;
}

h1 {
    font-size: 15px;
}

.holiday {
    display: flex;
    justify-content: center;
    height: 55vh;
}

.bookNow a{
    position: relative;
}

.tui {
    background-image: url("../images/TUI-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15%;
    height: 30vh;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.tui:hover {
    width: 18%;
    transition: all 0.3s ease-in-out;
}

.jet {
    width: 15%;
    height: 30vh;
    margin: 20px;
    margin-top: 12%;
    background-image: url("../images/Jet2-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.jet:hover {
    width: 18%;
    transition: all 0.3s ease-in-out;
}

.love-hol {
    width: 15%;
    height: 30vh;
    margin: 20px;
    background-image: url("../images/Love-Holidays-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.love-hol:hover {
    width: 18%;
    transition: all 0.3s ease-in-out;
}

.first-choice {
    width: 15%;
    height: 30vh;
    margin: 20px;
    margin-top: 12%;
    background-image: url("../images/First-Choice-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.first-choice:hover {
    width: 18%;
    transition: all 0.3s ease-in-out;
}

.tom-cook {
    width: 15%;
    height: 30vh;
    margin: 20px;
    background-image: url("../images/Thomas-Cook-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.tom-cook:hover {
    width: 18%;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-out;
}

    /* responsive */

@media (max-width: 1440px) {
    .header {
        width: 100%
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 960px) {
    .header {
        width: 100%
    }
    .header img {
        width: 62px;
    }
    .nav {
        font-size: 15px;
        max-width: 100%;
        display: flex;
        margin-left: 35%;
        position: absolute;
        margin-top: 1.8%;
    }
    .start-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center ;
    }
    .about {
        width: 100%;
    }

    .description {
        width: 100%;
    }
    .holiday {
        display: flex;
        justify-content: center;
        height: 35vh;
    }
    .bookNow a{
        position: relative;
        outline: auto;
    }
    .tui {
        background-image: url("../images/TUI-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 15%;
        height: 20vh;
        margin: 20px;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .tui:hover {
        width: 18%;
        transition: all 0.3s ease-in-out;
    }
    
    .jet {
        width: 15%;
        height: 20vh;
        margin: 20px;
        margin-top: 12%;
        background-image: url("../images/Jet2-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .jet:hover {
        width: 18%;
        transition: all 0.3s ease-in-out;
    }
    
    .love-hol {
        width: 15%;
        height: 20vh;
        margin: 20px;
        background-image: url("../images/Love-Holidays-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .love-hol:hover {
        width: 18%;
        transition: all 0.3s ease-in-out;
    }
    
    .first-choice {
        width: 15%;
        height: 20vh;
        margin: 20px;
        margin-top: 12%;
        background-image: url("../images/First-Choice-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .first-choice:hover {
        width: 18%;
        transition: all 0.3s ease-in-out;
    }
    
    .tom-cook {
        width: 15%;
        height: 20vh;
        margin: 20px;
        background-image: url("../images/Thomas-Cook-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .tom-cook:hover {
        width: 18%;
        transition: all 0.3s ease-in;
        transition: all 0.3s ease-out;
    }
}

@media (max-width: 768px) {
    .header {
        width: 100%
    }
    .nav {
        font-size: 15px;
        max-width: 15%;
        display: inline-flex;
        margin-left: 5%;
        position: relative;
        margin-top: 2.75%;
    }
    
    .start-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center ;
    }
    .about {
        width: 100%;
    }

    .description {
        width: 100%;
    }
    .holiday {
        display: flex;
        justify-content: center;
        height: 20vh;
    }
    
    .bookNow a{
        width: 9%;
        position: absolute;
    }
    
    .tui {
        background-image: url("../images/TUI-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 15%;
        height: 10vh;
        margin: 20px;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .tui:hover {
        width: 18%;
        transition: all 0.3s ease-in-out;
    }
    
    .jet {
        width: 15%;
        height: 10vh;
        margin: 20px;
        margin-top: 12%;
        background-image: url("../images/Jet2-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .jet:hover {
        width: 18%;
        transition: all 0.3s ease-in-out;
    }
    
    .love-hol {
        width: 15%;
        height: 10vh;
        margin: 20px;
        background-image: url("../images/Love-Holidays-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .love-hol:hover {
        width: 18%;
        transition: all 0.3s ease-in-out;
    }
    
    .first-choice {
        width: 15%;
        height: 10vh;
        margin: 20px;
        margin-top: 12%;
        background-image: url("../images/First-Choice-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .first-choice:hover {
        width: 18%;
        transition: all 0.3s ease-in-out;
    }
    
    .tom-cook {
        width: 15%;
        height: 10vh;
        margin: 20px;
        background-image: url("../images/Thomas-Cook-Logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        outline: auto;
    }
    
    .tom-cook:hover {
        width: 18%;
        transition: all 0.3s ease-in;
        transition: all 0.3s ease-out;
    }

}