body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(/Assets/images/background-image.jpg);
}

.header {
    background-color: antiquewhite;
    max-width: 100%;
    height: 5vh;
    text-align: center;
    padding: 15px;
    font-size: 27px;
    border-radius: 15px;
    outline: auto;
}

button {
    border-radius: 15px;
    background-color: antiquewhite;
}

footer {
    background-color: antiquewhite;
    max-width: 100%;
    text-align: center;
    padding: 1px;
    font-size: 20px;
    border-radius: 15px;
    outline: auto;
    line-height: 5px;
}

a {
    padding: 150px;
    text-decoration: none;
    color: black;
}

.nav {
    font-size: 15px;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    background: lightblue;
    outline: auto;
}

.start-container {
    display: flex;
}

.about {
    font-size: 20px;
    text-align: center;
    width: 60%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    background: white;
    outline: auto;
}

.description {
    font-size: 20px;
    text-align: center;
    width: 40%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    background: rgb(134, 194, 246);
    outline: auto;
}

h1 {
    font-size: 15px;
}


.curr-container {
    display: flex;
}

.curr-conv {
    font-size: 25px;
    height: 40vh;
    text-align: center;
    width: 35%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px ;
    margin: 20px;
    background: rgb(249, 168, 255);
    outline: auto;
}

.curr-graph {
    font-size: 25px;
    height: 40vh;
    text-align: center;
    width: 65%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    background: rgb(249, 168, 255);;
    position: relative;
    outline: auto;
}
