body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(/Assets/images/possible-bg-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: antiquewhite;
    max-width: 100%;
    height: 5vh;
    padding: 15px;
    font-size: 27px;
    border-radius: 15px;
    outline: auto;
}

.nav {
    font-size: 15px;
    max-width: 100%;
    display: flex;
    margin-left: 20%;
}

.header .nav {
    display: flex;
    display: inline;
}

footer {
    background-color: antiquewhite;
    max-width: 100%;
    text-align: center;
    padding: 1px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 15px;
    outline: auto;
    line-height: 5px;
}

footer .contact-us img{
    width: 50px;
    position: absolute;
    margin-left: 650px;
    margin-top: -75px;
}

a {
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 5px;
    outline: auto;
}

.start-container {
    display: flex;
}

.about {
    font-size: 20px;
    text-align: center;
    width: 60%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    background: white;
    outline: auto;
}

.description {
    height: 30vh;
    font-size: 20px;
    text-align: center;
    width: 40%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    background: rgb(134, 194, 246);
    outline: auto;
}

h1 {
    font-size: 15px;
}

.holiday {
    display: flex;
    justify-content: center;
    height: 55vh;
}

.bookNow a{
    position: relative;
}

.tui {
    background-image: url("/Assets/images/TUI-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15%;
    height: 30vh;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.tui:hover {
    width: 300px;
    transition: all 0.3s ease-in-out;
}

.jet {
    width: 15%;
    height: 30vh;
    margin: 20px;
    margin-top: 12%;
    background-image: url("/Assets/images/Jet2-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.jet:hover {
    width: 300px;
    transition: all 0.3s ease-in-out;
}

.love-hol {
    width: 15%;
    height: 30vh;
    margin: 20px;
    background-image: url("/Assets/images/Love-Holidays-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.love-hol:hover {
    width: 300px;
    transition: all 0.3s ease-in-out;
}

.first-choice {
    width: 15%;
    height: 30vh;
    margin: 20px;
    margin-top: 12%;
    background-image: url("/Assets/images/First-Choice-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.first-choice:hover {
    width: 300px;
    transition: all 0.3s ease-in-out;
}

.tom-cook {
    width: 15%;
    height: 30vh;
    margin: 20px;
    background-image: url("/Assets/images/Thomas-Cook-Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    outline: auto;
}

.tom-cook:hover {
    width: 300px;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-out;
}